#transcript-id {
    width: 25%; /* Set the width */
    max-height: 80vh; /* Set the maximum height to 80% of the viewport height */
    padding: 20px; /* Add some padding */
    margin: 20px 20px; /* Center the container and add vertical margin */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #f5f5f5; /* Light background color */
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'Arial', sans-serif; /* Set a readable font */
    font-size: 14px; /* Set a comfortable font size */
    line-height: 1.6; /* Increase line height for readability */
    color: #333; /* Dark gray text color */
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: white;
}