a {
    color: white;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: white;
}
body {
    background-color: #0b0f19;
}

.base_container {
    display: flex;
    flex-wrap: wrap; /* This ensures that components move to the next line if they don’t fit */
    justify-content: space-between; /* Adjusts the space between components */
}
.fullscreen {
    height: 90vh;
    width: 150vh;
}
.dropdown {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; /* Allows components to resize proportionally */
    height: 10vh;
    visibility: visible; /* visible / collapse */
    /* display: none;  comment / uncomment */
}
.transcript {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    background-color: #1f2937;
}
.option_button{
    display: flex;
}
.speaker_name{
    background-color: #31363e;
}
.selected_speaker_name{
    background-color: #00008B;
}
#chatbot {
    display: flex;
    background-color: #1f2937;
}
#chat_input {
    background-color: #1f2937;
}
#textbox_chatbot{
    background-color: #374151;
    color: white;
}
#submit_button {
    background-color: #1d4ed8;
    color: white;
}
#option_buttons{
    visibility: collapse; /* visible / collapse */
    display: none;
}

